@import url("https://fonts.googleapis.com/css?family=Lora|Varela+Round");
@import "components/nav.css";

a {
  @apply no-underline;
}

svg {
  @apply fill-current;
}

.golden-ratio {
  --ratio: 1.618;
  --height: 30rem;
  --width: calc(var(--height) / var(--ratio));
  height: var(--height);
  width: var(--width);
}

.upside-down {
  transform: rotate(180deg);
}
