@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900|Rubik:400,400i,700,700i');
@import 'components/nav.css';

.golden-ratio {
  --ratio: 1.618;
  --height: 30rem;
  --width: calc(var(--height) / var(--ratio));
  height: var(--height);
  width: var(--width);
}

.upside-down {
  transform: rotate(180deg);
}

body {
  background: linear-gradient(
    62deg,
    rgba(224, 195, 252, 1) 0%,
    rgba(142, 197, 252, 1) 100%
  );
}
