/* BOX DECORATION */
.playing-card {
  --ratio: 1.618;
  --height: 80vw;
  --width: calc(var(--height) / var(--ratio));
  width: var(--width);
  height: var(--height);
  @apply border-2 border-purple-lighter p-1 relative;
}

.playing-card > div {
  @apply border-2 border-purple-lighter p-6 relative;
}

.playing-card:before,
.playing-card::after,
.playing-card > div:before,
.playing-card > div::after {
  content: "•";
  font-size: 13px;
  height: 15px;
  line-height: 12px;
  width: 15px;
  @apply absolute border-2 border-purple-lighter font-mono text-center text-purple-lighter;
}

.playing-card:before {
  left: 4px;
  top: 4px;
}

.playing-card:after {
  bottom: 4px;
  left: 4px;
}
.playing-card > div:before {
  right: -2px;
  top: -2px;
}

.playing-card > div:after {
  bottom: -2px;
  right: -2px;
}
