/* BOX DECORATION */
.card:before,
.card::after,
.card > div:before,
.card > div::after {
  content: "•";
  font-size: 13px;
  height: 15px;
  line-height: 12px;
  width: 15px;
  @apply absolute border-2 border-purple-lighter font-mono text-center text-purple-lighter;
}

.card:before {
  left: 4px;
  top: 4px;
}

.card:after {
  bottom: 4px;
  left: 4px;
}
.card > div:before {
  right: -2px;
  top: -2px;
}

.card > div:after {
  bottom: -2px;
  right: -2px;
}
