<main class="bg-white border flex flex-col golden-ratio items-center justify-center relative rounded-lg shadow-lg text-center">

  <!-- HEART -->
  <div class="absolute flex flex-col items-center leading-none mx-3 my-8 pin-l pin-t text-3xl">
    <p class="mb-0">A</p>
    <p class="text-red">♥︎</p>
  </div>

  <!-- ABOUT -->
  <div class="bg-grey-lightest border px-4 py-8 w-2/3">
    <h1 class="font-serif leading-none text-4xl">
      {{ .Site.Title }}
    </h1>
    <p class="text-grey-darker">{{ .Site.Params.siteDescription }}</p>

    <div class="flex items-center justify-center">

      <!-- EMAIL -->
      <a class="flex items-center text-indigo no-underline" href="mailto:{{ .Site.Params.email }}">
        <div class="bg-white border flex items-center justify-center h-10 mr-1 rounded-full shadow w-10">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"/>
            <path d="M22 6l-10 7L2 6"/>
          </svg>
        </div>
      </a>
      <!-- EMAIL END -->

      <!-- FACEBOOK -->
      <a class="flex items-center text-blue-dark no-underline" href="{{ .Site.Params.facebook }}">
        <div class="bg-white border flex items-center justify-center h-10 mr-1 rounded-full shadow w-10">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"/></svg>
        </div>
      </a>
      <!-- FACEBOOK END -->

      <!-- PHONE -->
      <a class="flex items-center text-green-dark no-underline" href="tel:{{ .Site.Params.phone }}">
        <div class="bg-white border flex items-center justify-center h-10 mr-1 rounded-full shadow w-10">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
          </svg>
        </div>
      </a>
      <!-- PHONE END -->

    </div>

  </div>

  <!-- HEART -->
  <div class="absolute flex flex-col items-center leading-none mx-3 my-8 pin-b pin-r text-3xl upside-down">
    <p class="mb-0">Q</p>
    <p class="text-red">♥︎</p>
  </div>

</main>