<nav class="nav flex flex-wrap md:justify-end items-center justify-between mx-auto px-4 w-full">


  <a href="/" class="font-serif items-center mr-6 py-4 text-center hover:text-indigo w-full">
    <span class="font-semibold tracking-tight text-2xl sm:text-3xl md:text-4xl">{{ .Site.Title }}</span>
  </a>

  <ul class="flex items-center justify-center list-reset m-0 w-full">
    <li>
      <a class="flex items-center text-indigo hover:text-indigo no-underline" href="mailto:theauctionqueens@gmail.com" title="Email address">
        <div class="bg-white border flex items-center justify-center h-8 p-1 mr-3 rounded-full hover:shadow w-8">
          <svg class="h-full w-full" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail">
            <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
            <polyline points="22,6 12,13 2,6"></polyline>
          </svg>
        </div>
      </a>
    </li>

    <li>
      <a class="flex items-center text-blue-dark hover:text-blue-dark no-underline" href="https://www.facebook.com/theauctionqueens" title="Facebook feed">
        <div class="bg-white border flex items-center justify-center h-8 p-1 mr-3 rounded-full hover:shadow w-8">
          <svg class="h-full w-full" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook">
            <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
          </svg>
        </div>
      </a>
    </li>

    <li>
      <a class="flex items-center text-green-dark hover:text-green-dark no-underline" href="tel:0457%20788%20866" title="Phone number">
        <div class="bg-white border flex items-center justify-center h-8 p-1 mr-3 rounded-full hover:shadow w-8">
          <svg class="h-full w-full" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone">
            <path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
          </svg>
        </div>
      </a>
    </li>
  </ul>

  <input class="menu-btn hidden" type="checkbox" id="menu-btn">
  <label class="menu-icon flex cursor-pointer md:hidden items-center leading-none ml-4 py-4 relative rounded select-none" for="menu-btn">
    <span class="navicon bg-grey-darker flex items-center mr-4 relative"></span>
    <span class="font-bold text-grey-darker text-sm">MENU</span>
  </label>



  <ul class="menu border-b md:border-none flex justify-center list-reset m-0 mb-4 md:mb-0 -mr-2 relative w-full">
    {{ range .Site.Menus.main }}
    <li class="border-t md:border-none">
      <a href="{{ .URL }}" class="block md:inline-block px-4 py-3 md:py-5 no-underline text-lg hover:text-indigo{{ if or ( $.IsMenuCurrent "main" . ) ( $.HasMenuCurrent "main" . ) }} font-bold{{ end }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>

</nav>
