<nav class="nav flex justify-between w-full">
  <a href="/" class="logo block float-left text-2xl">{{ .Site.Title }}</a>
  <div>
    <input class="menu-btn hidden" type="checkbox" id="menu-btn">
    <label class="menu-icon cursor-pointer float-right md:hidden inline-block relative select-none" for="menu-btn"><span class="navicon bg-purple-lighter block relative"></span></label>
    <ul class="menu list-reset overflow-hidden p-0 text-right w-full">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li class="md:float-left"><a class="block border-grey-lighter{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} font-bold{{ end }}"
          href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>
</nav>
