<ol class="m-0">
<li>Payment methods are to be by cash or EFTPOS. Any other methods must be approved of by the The Auction Queens before your bid can be accepted.</li>
<li>The Bidder agrees to pay a Buyer’s Premium of 15%.</li>
<li>A Bid, once submitted, cannot be withdrawn and is irrevocable.</li>
<li>All Bids must be in whole dollars. All Bids submitted with cents will be rounded up to the nearest whole dollar.</li>
<li>The Auction Queens, at its sole and absolute discretion, may decide to rule any Bid void.</li>
<li>Descriptions of goods offered for sale are based on descriptions supplied by the Seller. Under no circumstances shall the The Auction Queens, it’s employees or agents be liable for any misdescription, error or omission of a description be it in a catalogue, advertisement, brochure or any other medium.</li>
<li>In the case of a dispute, any remedies or actions taken by a Seller, Buyer, Bidder or any other party shall lie against the Seller, Buyer, Bidder or other party, and under no circumstances shall any remedies or actions lie against the The Auction Queens, it’s employees or agents.</li>
<li>The title of goods and risk of goods is in the Seller’s name until payment has been made by the Buyer, at which time title and risk are transferred to the Purchaser. At no time is title or risk in the The Auction Queens’s name.</li>
</ol>