{{ define "head" }}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js" async></script>
{{ end }}


{{ define "main" }}
<main class="bg-white border rounded-lg shadow-lg max-w-lg my-8 px-4 py-8 mx-auto w-full">
  <div class="max-w-md mx-auto">
    <h1>{{ .Site.Title }}</h1>
    {{ partial "next-auction" . }}
    {{ partial "gallery" . }}
    {{ partial "about" . }}
  </div>
</main>
{{ end }}


{{ define "script" }}
<script src="js/siema.min.js"></script>
<script src="js/index.js"></script>
<script async>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ end }}
