{{ define "head" }}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{{ end }}

{{ define "main" }}
<main class="flex flex-wrap items-center justify-center mt-8 w-screen">
  {{ .Content }}
  {{- partial "card" . }}
</main>
{{ end }}

{{ define "script" }}
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
{{ end }}
